@use "../abstracts" as *;

.nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.8rem 1.6rem 0 1.6rem;

    @include tablet {
        padding: 2.4rem 2.4rem 0 2.4rem;
        max-width: 96.4rem;
        margin: auto;
    }


    &__wrap {
        position: absolute;
        top: 1.3rem;
        left: 0;
        padding-left: 1.6rem;
        background-color: $background;
        width: 80vw;
        height: 100vh;
        transition: $transition;

        &.invisible {
            left: -100%;
        }

        @include tablet {
            position: static;
            height: auto;
            width: auto;
            display: flex;
            align-items: center;
            gap: 2.8rem;
            padding-left: 0;
        }
    }

    &__profile {
        display: flex;
        gap: 0.8rem;
        align-items: center;
        padding-bottom: 3.8rem;

        @include tablet {
            padding-bottom: 0;
        }

        & p:nth-child(1) {
            width: 2.9rem;
            height: 2.9rem;;
            background-color: $lightgray;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        & p:nth-child(2) {
            font-size: 1.6rem;
            line-height: 2.2rem;
        }
    }

    &__message {
        display: flex;
        gap: 0.6rem;
        padding: 0.6rem 1.2rem;
        background-color: $black;
        align-items: center;
        border-radius: 1.6rem;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        font-size: 2.1rem;
        line-height: 2.2rem;
        transition: $transition;

        & li a{
            font-weight: 700;
            color: $gray;
            font-size: 2.1rem;
            line-height: 2.2rem;

            @include tablet {
                font-weight: 500;
                padding: 0.9rem 0 0.7rem 0;
                border-bottom: 2px solid $background;
                font-size: 1.6rem;
            }
        }

        & li:nth-child(1) a {
            color: $black;

            @include tablet {
                font-weight: 400;
                border-bottom: 2px solid $yellow;
            }
        }

        @include tablet {
            flex-direction: row;
            font-size: 1.6rem;
        }
    }

    &__account {
        display: flex;
        gap: 1.6rem;
        align-items: center;
    }

    &__profile:nth-child(2) {
        flex-direction: row-reverse;
    }

    &__burger {
        transition: $transition;
    }

}

.side {
    transform: translateX(80vw);

    @include tablet {
        transform: translateX(0)
    }
}